<div id="recent-episodes" class="widget">
  <h1>Recent Episodes</h1>
  <div class="three-column">
    <% episodes[0..3].each do |episode| %>
      <div class="item episode">
        <%= link_to image_tag(episode.thumbnail_url, :alt => episode.title), episode.relative_url %>
        <h3>EP<%= episode.number %>: <%= episode.title %></h3>
        <p class="description"><%= episode.date %></p>
      </div>
    <% end %>
    <br class="clear" />
  </div>
  <p><%= link_to '> See all episodes', '/play' %></p>
</div>
