<div id="all-videos" class="three-column">
  <h1>Episode Archive</h1>
  <% episodes.each do |episode| %>
    <div class="item">
      <a href="/play/<%= episode.abbr %>"><img src="<%= episode.thumbnail_url %>" alt="<%= episode.title %>" /></a>
      <h4>Episode <%= episode.number %></h4>
      <h3><%= episode.title %></h3>
    </div>
  <% end %>
  <br class="clear" />
</div>
