<% content_for(:title) { "Tailgate32: About the Project" } %>
<% content_for(:description) { "Tailgate32 is a digital adventure series that follows the journey of adventure-loving brothers Mike and John Trupiano as they tour the country in a 42' RV to throw a tailgate party at a home game for every NFL team during the 2012 regular season." } %>

<div id="main" class="row">
  <div class="left">
    <div class="headline">
      <%= image_tag 'arrow-left.png' %>
      <h1>About Tailgate32</h1>
    </div>
    <p>
      Tailgate32 is a 25,000-mile, cross-country football odyssey in a 42-foot RV.  
      WGN Radio recently described it as 
      "<a href="http://bit.ly/Tailgate32-on-WGN" target="_blank">so incredibly cool...and insane!</a>"
      Led by thrill-seeking brothers John and Mike Trupiano,
      Tailgate32 will visit all 32 NFL arenas in just 17 weeks this season, before
      powering on to the playoffs and Super Bowl XLVII in New Orleans.
      The entire trip will be documented by our film crew.  We release 
      <%= link_to 'fast-paced 5-6 minute digital episodes', '/episodes' %>
      following each game that capture the essence of American tailgating, the nation's 
      passion for football, and life on the road.
    </p>
    <div class="headline">
      <%= image_tag 'arrow-left.png' %>
      <h1>About John and Mike</h1>
    </div>
    <p>
      John, 28, is a lifelong football fan, an entrepreneur and a graduate of Johns 
      Hopkins University with a passion for adventure and feats of football derring-do. 
      He once attended two NFL games on the same day (Bears-Redskins and Colts-Ravens in 
      Week 1 2005) and, channeling his inner Jack Kerouac, once drove 2,700 miles from 
      Baltimore to Los Angeles in 2.5 days - only to find that L.A. no longer had an NFL 
      team. John is also a culinary athlete and has completed the McDonald's Triple Crown 
      - consuming Mickey D's for breakfast, lunch and dinner. John's magnificent plumage 
      should be declared a national treasure.  The Detroit Lions and Baltimore Ravens are 
      his favorite NFL teams.
    </p>
    <p>
      Mike, 34, is a graduate of MIT, a hardcore football fan, an avid road tripper and 
      a thrill seeker. His motorcycle trips include the Florida Keys and the various
      parts of the great Midwest, he and logged 200,000 miles on his old 1994 Ford 
      Explorer, much of it on annual sports-stadium road trips.  Mike and his Explorer 
      once spent four hours stuck in a ditch off an Ontario highway and he knew it was
      time to dump the trusty old steed when it began to consume more steering fluid than
      gas. The Detroit Lions and New England Patriots are his favorite NFL teams.
    </p>
    <div class="headline">
      <%= image_tag 'arrow-left.png' %>
      <h1>About Football Nation</h1>
    </div>
    <p>
      <a target="_blank" target="http://footballnation.com">Football Nation</a> is the 
      world's only fan democracy, pioneering outspoken, passionate 
      sports journalism with an unmatched commitment to uniting football fans. Football 
      Nation's dynamic and proprietary publishing platform gives voice to the passionate 
      Citizens of Football Nation, a rapidly growing global community of more than 1,500 
      writers and fans. Football Nation provides a daily "all football all the time" 
      assault of cutting edge football content: daily articles, entertaining digital 
      video, TV programming, radio programming, compelling podcasts, engaging viral games, 
      and real-time cutting edge statistics and analysis. Football Nation properties 
      include FootballNation.com, ColdHardFootballFacts.com, FFChamps.com, 
      CollegeFootballGeek.com, and FFSlots.com.
    </p>
    <div class="headline">
      <%= image_tag 'arrow-left.png' %>
      <h1>About Big Green Egg</h1>
    </div>
    <p>
      <a target="_blank" href="http://biggreenegg.com">Big Green Egg</a> is the official grill and charcoal 
      company of the Tailgate32 tour. The Big Green Egg stands alone as the most versatile 
      barbecue or outdoor cooking product on the market, with more capabilities than all 
      other conventional cookers combined. From pizza to ribs, or Thanksgiving dinner to 
      desserts, the Big Green Egg will exceed all your expectations for culinary perfection! 
      With five convenient sizes to choose from, there is a Big Green Egg to fit every 
      lifestyle!
    </p>
    <p>
      Join Big Green Egg distributors and dealers across the country as they cook up a 
      wide variety of grillables at Tailgate32 events!
    </p>
  </div>
  <div class="right">
    <div id="widgets">
      <div id="where-to-watch" class="widget">
        <h1>Where To Watch</h1>
        <div>
          <%= link_to image_tag('syndicates/blip.png'), 'http://blip.tv/tailgate32', :target => '_blank' %>
          <%= link_to image_tag('syndicates/youtube.png'), 'http://youtube.com/tailgate32', :target => '_blank' %>
        </div>
        <div>
          <%= link_to image_tag('syndicates/itunes.jpg'), 'http://itunes.com/tailgate32', :target => '_blank' %>
        </div>
      </div>
      <%= partial "promos/press" %>
      <%= partial "promos/upcoming" %>
      <%= partial "promos/recent-episodes" %>
    </div>
  </div>
  <br class="clear" />
</div>
