<% content_for(:title) { "Tailgate32: About the Project" } %>
<% content_for(:description) { "Tailgate32 is a digital adventure series that follows the journey of adventure-loving brothers Mike and John Trupiano as they tour the country in a 42' RV to throw a tailgate party at a home game for every NFL team during the 2012 regular season." } %>

<div id="main" class="row">
  <div class="left">
    <div class="headline">
      <%= image_tag 'arrow-left.png' %>
      <h1>About Tailgate32</h1>
    </div>
    <p>
      Tailgate32 is a <%= link_to 'web show and future cable TV show', '/episodes' %> that 
      follows the journey of adventure-loving brothers Mike and John Trupiano as they 
      tour the country in a <%= link_to '42-foot RV', "https://www.facebook.com/media/set/?set=a.213977748731296.46561.156860177776387&type=3" %> 
      to explore the American traditions of road tripping, tailgating, and professional 
      football.  They push themselves to the extremes on this 25000-mile nonstop trek, 
      struggle with an RV that seems to have a mind of its own, and discover what drives 
      the world's most passionate and colorful fans.
    </p>
    <div class="headline">
      <%= image_tag 'arrow-left.png' %>
      <h1>About John and Mike</h1>
    </div>
    <p>
      John, 29, is a lifelong football fan, an entrepreneur and a graduate of Johns 
      Hopkins University with a passion for adventure and feats of football derring-do. 
      He once attended two NFL games on the same day (Bears-Redskins and Colts-Ravens in 
      Week 1 2005) and, channeling his inner Jack Kerouac, once drove 2,700 miles from 
      Baltimore to Los Angeles in 2.5 days - only to find that L.A. no longer had an NFL 
      team. John is also a culinary athlete and has completed the McDonald's Triple Crown 
      - consuming Mickey D's for breakfast, lunch and dinner. John's magnificent plumage 
      should be declared a national treasure.  The Detroit Lions and Baltimore Ravens are 
      his favorite NFL teams.
    </p>
    <p>
      Mike, 35, is a graduate of MIT, a hardcore football fan, an avid road tripper and 
      a thrill seeker. His motorcycle trips include the Florida Keys and the various
      parts of the great Midwest, he and logged 200,000 miles on his old 1994 Ford 
      Explorer, much of it on annual sports-stadium road trips.  Mike and his Explorer 
      once spent four hours stuck in a ditch off an Ontario highway and he knew it was
      time to dump the trusty old steed when it began to consume more steering fluid than
      gas. The Detroit Lions and New England Patriots are his favorite NFL teams.
    </p>
  </div>
  <div class="right">
    <div id="widgets">
      <div id="where-to-watch" class="widget">
        <h1>Where To Watch</h1>
        <div>
          <%= link_to image_tag('syndicates/blip.png'), 'http://blip.tv/tailgate32', :target => '_blank' %>
          <%= link_to image_tag('syndicates/youtube.png'), 'http://youtube.com/tailgate32', :target => '_blank' %>
        </div>
        <div>
          <%= link_to image_tag('syndicates/itunes.jpg'), 'http://itunes.com/tailgate32', :target => '_blank' %>
          <%= link_to image_tag('syndicates/dailymotion.png'), 'http://dailymotion.com/tailgate32', :target => '_blank' %>
        </div>
      </div>
      <%= partial "promos/press" %>
    </div>
  </div>
  <br class="clear" />
</div>
