<% content_for(:title) { @bside.title_for_meta_tags } %>
<% content_for(:description) { @bside.description_for_meta_tags } %>
<% content_for(:og_meta) do %>

  <meta property="og:title"         content="<%= @bside.title_for_meta_tags %>" />
  <meta property="og:description"   content="<%= @bside.description_for_meta_tags %>" />
  <meta property="og:type"          content="video.episode" />
  <meta property="og:image"         content="<%= @bside.image_url %>" />
  <meta property="og:url"           content="<%= @bside.canonical_url %>" />
  <meta property="og:video"         content="<%= @bside.youtube_og_url %>" />
  <meta property="og:video:type"    content="application/x-shockwave-flash" />
  <meta property="og:video:width"   content="1920" />
  <meta property="og:video:height"  content="1080" />
  <meta property="video:series"     content="http://tailgate32.com" />

  <meta name="twitter:card"          content="player" />
  <meta name="twitter:player"        content="<%= @bside.youtube_embed_url %>" />
  <meta name="twitter:player:width"  content="435" />
  <meta name="twitter:player:height" content="245" />
<% end %>
<% content_for(:stylesheets) { stylesheet_link_tag :episode } %>

<div id="episode" class="row">
  <div class="left">
    <div id="featured-video">
      <h1><%= @bside.full_title %></h1>
      <div id="video-container">
        <iframe id="ytplayer" width="720" height="405" src="<%= @bside.youtube_embed_url %>" frameborder="0" allowFullScreen></iframe>
      </div>
      <div class="fb-like" data-href="http://www.facebook.com/Tailgate32" data-send="true" data-width="620" data-show-faces="false" data-color-scheme="dark"></div>
    </div>
    <div class="divider"></div>
    <div id="next-episode">
      <h2>Did You Miss? &mdash; <%= @next_bside.title %></h2>
      <div class="thumbnail">
        <a href="<%= @next_bside.relative_url %>" title="Watch <%= @next_bside.title %>"><img src="<%= @next_bside.thumbnail_url %>" alt="<%= @next_bside.title %>" /></a>
      </div>
      <div class="description">
        <p><%= @next_bside.description %></p>
        <p>Watch <a href="<%= @next_bside.relative_url %>" title="Watch <%= @next_bside.title %>"><%= @next_bside.title %></a> or return to the <a href="<%= @next_bside.archive_url %>">B-Side archive</a>.</p>
      </div>
      <br class="clear" />
    </div>
  </div>
  <div class="right">
    <div id="bside-details" class="widget">
      <h2>Description</h2>
      <p><%= @bside.description %></p>
      <p class="date">Released on <%= @bside.date %>.</p>
    </div>
  </div>
  <br class="clear" />
</div>
