<% content_for(:title) { "Win #{@contest.prize}!" } %>
<% content_for(:description) { @contest.description } %>
<% content_for(:og_meta) do %>

  <meta name="twitter:card"          content="summary" />

  <meta property="og:title"       content="<%= @contest.title %>" />
  <meta property="og:type"        content="article" />
  <meta property="og:description" content="<%= @contest.description %>" />
  <meta property="og:image"       content="<%= @contest.thumbnail_url %>" />
  <meta property="og:url"         content="<%= @contest.canonical_url %>" />
<% end %>
<% content_for(:stylesheets) { stylesheet_link_tag :contests } %>

<div class="row" id="contest">
  <% if @contest.haiku? %>
    <%= partial :haiku %>
  <% else %>
    <div class="left">
      <div class="headline">
        <%= image_tag 'arrow-left.png' %>
        <h1>Win <%= @contest.prize %></h1>
      </div>
      <% if @contest.prize_is_crate? %>
        <p>
          <%= image_tag(@contest.thumbnail_url, :class => 'contest') %>
          We've teamed up with the dudes over at <a target="_blank" href="http://www.mancrates.com/">Man Crates</a> 
          -- they make these pretty cool <a target="_blank" href="http://www.mancrates.com/categories/choose-the-perfect-crate.html">supply packages</a> 
          for all sorts of people, from the outdoorsman to the insomniac to, yup,
          you guessed it, the traveling tailgater.
        </p>
        <p>
          Answer a question about something in this episode and you can win a prize.
          Use the form on the right to enter the contest.
        </p>
      <% else %>
        <p>
          <%= image_tag(@contest.thumbnail_url, :class => 'contest shirt') %>
          You've seen Mike and John wearing them in the episodes, and you've seen dozens
          of others posting photos to Facebook.  Now is your chance to get one of your
          own.
        </p>
        <p>
          That's right, we're giving away official Tailgate32 T-Shirts!  Just use the contest form
          to the right to enter for your chance to win.
        </p>
      <% end %>
      <p>
        This contest ends <%= @contest.ends_at %>
      </p>
      <br class="clear" />
      <div id="featured-video">
        <div class="headline">
          <%= image_tag 'arrow-left.png' %>
          <h1><%= @episode.full_title %></h1>
        </div>
        <br />
        <div id="video-container">
          <iframe id="ytplayer" width="538" height="303" src="<%= @episode.youtube_embed_url %>" frameborder="0" allowFullScreen></iframe>
        </div>
        <div id="social-media">
          <div class="fb-like" data-href="<%= @episode.canonical_url %>" data-send="true" data-width="550" data-show-faces="false" data-color-scheme="dark"></div>
        </div>
      </div>
    </div>
    <div class="right">
      <div id="widgets">
        <div id="contest-entry">
          <div class="headline">
            <%= image_tag 'arrow-left.png' %>
            <h1>Contest Entry</h1>
          </div>
          <a id="rc-<%= @contest.rafflecopter_id %>" class="rafl" href="http://www.rafflecopter.com/rafl/display/<%= @contest.rafflecopter_id %>/" rel="nofollow">a Rafflecopter giveaway</a>
          <script src="//d12vno17mo87cx.cloudfront.net/embed/rafl/cptr.js"></script>
        </div>
        <%= partial :"promos/contests" %>
      </div>
    </div>
    <br class="clear" />
  <% end %>
</div>
