<% content_for(:title) { "Tailgate32 - Episode Archive" } %>
<% content_for(:description) { "Watch all 32 episodes of the epic adventure web series Tailgate32" } %>
<% content_for(:og_meta) do %>

  <meta name="twitter:card"          content="summary" />

  <meta property="og:title"         content="Tailgate32 - Episode Archive" />
  <meta property="og:type"          content="video.tv_show" />
  <meta property="og:image"         content="http://tailgate32.com/images/itunes-series-graphic.jpg" />
  <meta property="og:description"   content="Watch all 32 episodes of the epic adventure web series Tailgate32" />
  <meta property="video:tag"        content="web series" />
  <meta property="video:tag"        content="sports" />
  <meta property="video:tag"        content="documentary" />
  <meta property="og:url"           content="http://tailgate32.com/episodes" />
<% end %>
<% content_for(:stylesheets) { stylesheet_link_tag :episodes } %>

<div id="episodes" class="row">
  <div class="left">
    <div id="all-videos" class="three-column">
      <h1>Tailgate32 &mdash; Episode Archive</h1>
      <% episodes.reverse.each do |episode| %>
        <div class="item">
          <a href="/play/<%= episode.abbr %>"><img src="<%= episode.thumbnail_url %>" alt="<%= episode.title %>" /></a>
          <h4>Episode <%= episode.number %></h4>
          <h3><%= episode.title %></h3>
        </div>
      <% end %>
      <br class="clear" />
    </div>
  </div>
  <div class="right">
    <h2>About The Series</h2>
    <p>
      Tailgate32 is a web series that follows the journey of adventure-loving brothers 
      Mike and John Trupiano as they tour the country in a 
      <a target="_blank" href="https://www.facebook.com/media/set/?set=a.213977748731296.46561.156860177776387&type=3">42-foot RV</a> 
      to explore the American traditions of road tripping, tailgating, and professional 
      football. They push themselves to the extremes on this 25000-mile nonstop trek, 
      struggle with an RV that seems to have a mind of its own, and discover what 
      drives the world's most passionate and colorful fans.
    </p>
  </div>
  <br class="clear" />
</div>
