<% content_for(:title) { "Tailgate32 #{@event.title}" } %>
<% content_for(:description) { @event.description_for_meta_tags } %>
<% content_for(:og_meta) do %>

  <meta name="twitter:card"       content="summary" />

  <meta property="og:title"       content="<%= @event.title %> | <%= @event.date %> | Free Tailgate Party | Tailgate32" />
  <meta property="og:type"        content="article" />
  <meta property="og:url"         content="http://tailgate32.footballnation.com/events/<%= @event.abbr %>" />
  <meta property="og:image"       content="http://tailgate32.com/images/32logo-320px.png" />
  <meta property="og:description" content="<%= @event.description_for_meta_tags %>" />
<% end %>
<% content_for(:stylesheets) { stylesheet_link_tag :events } %>

<div id="upcoming" class="row">
  <div class="left">
    <div id="featured-event">
      <div class="headline">
        <%= image_tag 'arrow-left.png', :alt => '' %>
        <h1><%= @event.title %></h1>
      </div>
      <p id="featured-event-date"><%= @event.date %></p>
      <%= @event.description || "<p>Details TBA</p>" %>
    </div>
    <div class="headline">
      <%= image_tag 'arrow-left.png' %>
      <h1>Are You Coming?</h1>
    </div>
    <br />
    <div class="fb-comments" data-href="http://tailgate32.com/events/<%= @event.abbr %>" data-num-posts="5" data-width="599"></div>
  </div>
  <div class="right">
    <div id="widgets">
      <%= partial 'promos/upcoming' %>
      <%= partial 'promos/recent-episodes' %>
    </div>
  </div>
  <br class="clear" />
</div>
