<% content_for(:title) { "Tailgate32: An Epic Web Series" } %>
<% content_for(:description) { "A web series that follows brothers Mike & John as they explore the greatest sports fan traditions in America." } %>
<% content_for(:og_meta) do %>

  <meta name="twitter:card"       content="summary" />

  <meta property="og:type"        content="video.tv_show" />
  <meta property="og:url"         content="http://tailgate32.com" />
  <meta property="og:image"       content="http://tailgate32.com/images/revved-up-800x800.jpg" />
  <meta property="og:title"       content="Tailgate32: An Epic Web Series" />
  <meta property="og:description" content="A web series that follows brothers Mike & John as they explore the greatest sports fan traditions in America." />
<% end %>
<% content_for(:stylesheets) { stylesheet_link_tag(:home) } %>
<% content_for(:stylesheets) { stylesheet_link_tag '/javascripts/rcarousel/widget/css/rcarousel.css' } %>
<% content_for(:javascripts) { javascript_include_tag(:home) } %>
<% content_for(:javascripts) { javascript_include_tag "rcarousel/widget/lib/jquery.ui.core.min.js" } %>
<% content_for(:javascripts) { javascript_include_tag "rcarousel/widget/lib/jquery.ui.widget.min.js" } %>
<% content_for(:javascripts) { javascript_include_tag "rcarousel/widget/lib/jquery.ui.rcarousel.min.js" } %>

<div id="main">
  <div class="left">
    <div id="video-container">
      <%= @featured_episode.embed_code %>
    </div>
    <div class="fb-like" data-href="http://www.facebook.com/Tailgate32" data-send="true" data-width="620" data-show-faces="false" data-color-scheme="dark"></div>
  </div>
  <div class="right">
    <h1>Tailgate32<br />Is Feeling<br />The Love</h1>
    <div id="laurel-carousel" class="ui-carousel">
      <% @carousel_images.each do |img| %>
        <%= image_tag "laurels/#{img}.png", :width => 240 %>
      <% end %>
    </div>
    <p><%= image_tag 'watch-arrow-yellow.png' %><span id="watch-trailer-link">Watch the trailer now.</p>
    <p>...or dive right into the <a href="/play/nyg" title="Watch Tailgate32">series</a>.</p>
  </div>
  <br class="clear" />
</div>
<div class="divider"></div>
<div class="row secondary">
  <div class="left">
    <h2>Let's Get REVVED UP!</h2>
    <p>
      Mike and John hit the racetracks as NASCAR newbies to learn the ropes of a 
      remarkably different fan experience.  Meet NASCAR drivers, track presidents, town 
      mayors, team owners, and the colorful fans as the brothers showcase racing 
      culture at its finest.
    </p>
    <p>Buckle up and join the ride in our mini-series <a href="/revved-up" title="Watch REVVED UP">REVVED UP</a>.</p>
  </div>
  <div class="right">
    <a href="/revved-up" title="Watch REVVED UP"><%= image_tag 'banner-revved-up.jpg', :alt => 'Watch REVVED UP' %></a>
  </div>
  <br class="clear" />
</div>
<div class="divider"></div>
<div class="row secondary">
  <div class="left">
    <h2>Go Behind The Scenes!</h2>
    <p>
      Ever wonder what Mike and John are doing when they're not goofing around?  Trick 
      question, they're always goofing around.  
    </p>
    <p>
      How many shots does it take to kill John?  Why won't Mike ever give our editor a 
      compliment? And why the heck doesn't this stinkin' credit card work?!  Join us behind 
      the scenes to find all this out and more with our 
      <a href="/b-sides" title="Watch B-Sides">B-Sides</a>.
    </p>
  </div>
  <div class="right">
    <a href="/b-sides" title="Watch B-Sides"><%= image_tag 'banner-b-sides.png', :alt => 'Watch B-Sides' %></a>
  </div>
  <br class="clear" />
</div>
