<% content_for(:title) { "Tailgate32: The Ultimate Football Fan Roadtrip" } %>
<% content_for(:description) { "Two guys in an RV documenting the American traditions of roadtrips, tailgating, and pro football. 17 weeks. 32 games. 25,000 miles." } %>
<% content_for(:og_meta) do %>

  <meta property="og:type"        content="video.tv_show" />
  <meta property="og:url"         content="http://tailgate32.com" />
  <meta property="og:image"       content="http://tailgate32.com/images/32logo-320px.png" />
  <meta property="og:title"       content="Tailgate32: The Ultimate Football Fan Roadtrip" />
  <meta property="og:description" content="Tailgate32 is a digital adventure series that follows the journey of adventure-loving brothers Mike and John Trupiano as they tour the country in a 42' RV to throw a tailgate party at a home game for every NFL team during the 2012 regular season." />
<% end %>
<% content_for(:stylesheets) { stylesheet_link_tag(:home) } %>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'episodes' %>
  <%= javascript_include_tag 'upcoming' %>
  <%= javascript_include_tag 'home' %>
<% end %>

<div id="home" class="row">
  <div id="home-video">
    <div class="left">
      <div id="episode-highlight">
        <div id="video-container">
          <!-- <iframe src="http://blip.tv/play/AYOK410A.x?p=1" width="600" height="366" frameborder="0" allowfullscreen></iframe><embed type="application/x-shockwave-flash" src="http://a.blip.tv/api.swf#AYOK410A" style="display:none"></embed> -->
          <iframe src="http://player.vimeo.com/video/55050711?title=0&byline=0&portrait=0" width="600" height="338" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          <!-- <iframe id="ytplayer" width="600" height="338" src="<%= @episode.youtube_embed_url %>" frameborder="0" allowFullScreen></iframe> -->
        </div>
        <div id="social-media">
          <div class="fb-like" data-href="http://www.facebook.com/Tailgate32" data-send="true" data-width="420" data-show-faces="false" data-color-scheme="dark"></div>
          <div id="subscribe">
            Subscribe <a target="_blank" href="<%= @episode.itunes_url %>">iTunes</a> | <a target="_blank" href="<%= @episode.youtube_watch_url %>">YouTube</a> | <a target="_blank" href="http://blip.tv/tailgate32">Blip</a>
          </div>
          <br class="clear" />
          <div id="twitter">
            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-count="none" data-text="Check out the @tailgate32 guys. They're tailgating a home game for every NFL team this year. Next stop: <%= upcoming_events.first.city %> http://tailgate32.com/">Tweet</a>
            <a href="https://twitter.com/tailgate32" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @tailgate32</a>
          </div>
        </div>
      </div>
    </div>
    <div id="calls-to-action" class="right">
      <a href="/episodes" id="watch" title="Watch all 32 episodes right now"><span class="displace">Watch all 32 episodes right now</span></a>
      <a href="/b-sides" id="behind-the-scenes" title="Go behind the scenes with Mike and John"><span class="displace">Go behind the scenes with Mike and John</span></a>
      <a href="#" id="tell-us" class="contact-us-link" title="Tell us what you think"><span class="displace">Tell us what you think</span></a>
    </div>
    <br class="clear" />
  </div>
</div>
