<% content_for(:title) { "Tailgate32: The Ultimate Football Fan Roadtrip" } %>
<% content_for(:description) { "Two guys in an RV documenting the American traditions of roadtrips, tailgating, and pro football. 17 weeks. 32 games. 25,000 miles." } %>
<% content_for(:og_meta) do %>

  <meta property="og:type"        content="video.tv_show" />
  <meta property="og:url"         content="http://tailgate32.footballnation.com" />
  <meta property="og:image"       content="http://tailgate32.com/images/32logo-320px.png" />
  <meta property="og:title"       content="Tailgate32: The Ultimate Football Fan Roadtrip" />
  <meta property="og:description" content="Tailgate32 is a digital adventure series that follows the journey of adventure-loving brothers Mike and John Trupiano as they tour the country in a 42' RV to throw a tailgate party at a home game for every NFL team during the 2012 regular season." />
<% end %>
<% content_for(:stylesheets) { stylesheet_link_tag(:home) } %>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'episodes' %>
  <%= javascript_include_tag 'upcoming' %>
  <%= javascript_include_tag 'home' %>
<% end %>

<div id="home" class="row">
  <div id="home-chrome">
    <div class="left">
      <h3>Recent</h3>
      <p>Catch up with us on the ultimate football adventure!</p>
    </div>
    <div class="center">
      <h1>The Latest</h1>
      <h2><%= @episode.number %>: <%= @episode.title %></h2>
    </div>
    <div class="right">
      <h3>Upcoming</h3>
      <p>We are on the road heading to a football mecca near you!</p>
    </div>
    <br class="clear" />
  </div>
  <div id="home-video">
    <div id="recent-episodes" class="left">
      <%= partial :recent_episodes %>
      <p>
        Missed an episode?<br />
        <a href="/play">VIEW THE ARCHIVES</a>
      </p>
    </div>
    <div class="center">
      <div id="episode-highlight">
        <div id="video-container">
          <iframe id="ytplayer" width="600" height="338" src="<%= @episode.youtube_embed_url %>" frameborder="0" allowFullScreen></iframe>
        </div>
        <div id="social-media">
          <div class="fb-like" data-href="http://www.facebook.com/Tailgate32" data-send="true" data-width="420" data-show-faces="false" data-color-scheme="dark"></div>
          <div id="subscribe">
            Subscribe <a target="_blank" href="<%= @episode.itunes_url %>">iTunes</a> | <a target="_blank" href="<%= @episode.youtube_watch_url %>">YouTube</a> | <a target="_blank" href="http://feeds.feedburner.com/tailgate32">RSS</a>
          </div>
          <br class="clear" />
          <div id="twitter">
            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-count="none" data-text="Check out the @tailgate_32 guys. They're tailgating a home game for every NFL team this year. Next stop: <%= upcoming_events.first.city %> http://tailgate32.com/">Tweet</a>
            <a href="https://twitter.com/tailgate_32" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @tailgate_32</a>
          </div>
        </div>
      </div>
    </div>
    <div id="upcoming-episodes" class="right">
      <%= partial :upcoming_episodes %>
      <p>
        Want the full scoop?<br />
        <%= link_to 'VIEW THE SCHEDULE', "/schedule" %>
      </p>
    </div>
    <br class="clear" />
  </div>
</div>
