<% content_for(:title) { "Tailgate32: An Epic Web Series" } %>
<% content_for(:description) { "A web series that follows brothers Mike & John as they explore the greatest sports fan traditions in America." } %>
<% content_for(:og_meta) do %>

  <meta property="og:type"        content="video.tv_show" />
  <meta property="og:url"         content="http://tailgate32.com" />
  <meta property="og:image"       content="http://tailgate32.com/images/32logo-320px.png" />
  <meta property="og:title"       content="Tailgate32: An Epic Web Series" />
  <meta property="og:description" content="A web series that follows brothers Mike & John as they explore the greatest sports fan traditions in America." />
<% end %>
<% content_for(:stylesheets) { stylesheet_link_tag(:home) } %>

<div id="main">
  <div class="left">
    <div id="video-container">
      <iframe src="http://blip.tv/play/AYOTjnwC.x?p=1" width="720" height="433" frameborder="0" allowfullscreen></iframe><embed type="application/x-shockwave-flash" src="http://a.blip.tv/api.swf#AYOTjnwC" style="display:none"></embed>
    </div>
    <div class="fb-like" data-href="http://www.facebook.com/Tailgate32" data-send="true" data-width="420" data-show-faces="false" data-color-scheme="dark"></div>
  </div>
  <div class="right">
    <h1>We're hitting the racetrack!</h1>
    <p>Mike and John are back at it again! This summer the guys dive into the entire racing experience, including a behind-the-scenes look at how a racing team prepares for each week's race. With appearances from NASCAR drivers, track presidents, town mayors, team owners, and very colorful fans, the brothers showcase racing culture at its finest.</p>
  </div>
  <br class="clear" />
</div>
<div class="divider"></div>
<div id="secondary" class="row">
  <h2>Tailgate32: The Ultimate Football Fan Roadtrip</h2>
  <p>Before checking out the speedway, Mike and John took an epic roadtrip to tailgate all 32 NFL stadiums in one 17-week regular season.  Here are a couple of our favorite episodes.  Or you can <a href="/episodes">watch all 32 of them</a>!</p>
  <% @featured_episodes.each_with_index do |episode, i| %>
    <div class="featured-episode <%= i == 0 ? 'first' : (i == 3) ? 'last' : '' %>">
      <a href="/play/<%= episode.abbr %>">
        <img src="<%= episode.thumbnail_url %>" alt="<%= episode.title %>" />
        <h4>Episode <%= episode.number %></h4>
        <h3><%= episode.title %></h3>
      </a>
    </div>
  <% end %>
  <br class="clear" />
</div>
<div class="divider"></div>
<div id="tertiary" class="row">
  <h2>How about some goofing around?</h2>
  <p>Here's an assortment of behind the scenes footage and other silly things that Mike and John have been up to.</p>
  <div class="featured-episode first">
    <img src="/images/episodes/mids/no.png" />
    <h3>Mike and John<br />Tailgate the Super Bowl</h3>
  </div>
  <div class="featured-episode">
    <img src="/images/episodes/mids/tb.png" />
    <h3>DIVES</h3>
  </div>
  <div class="featured-episode">
    <img src="/images/episodes/mids/chi.png" />
    <h3>Shots, Shots, Shots</h3>
  </div>
  <div class="featured-episode last">
    <img src="/images/episodes/mids/no.png" />
    <h3>Happy Holidays aboard the Tailgate32 RV</h3>
  </div>
  <br class="clear" />
</div>
