<% content_for(:title) { "Tailgate32: An Epic Web Series" } %>
<% content_for(:description) { "A web series that follows brothers Mike & John as they explore the greatest sports fan traditions in America." } %>
<% content_for(:og_meta) do %>

  <meta property="og:type"        content="video.tv_show" />
  <meta property="og:url"         content="http://tailgate32.com" />
  <meta property="og:image"       content="http://tailgate32.com/images/32logo-320px.png" />
  <meta property="og:title"       content="Tailgate32: An Epic Web Series" />
  <meta property="og:description" content="A web series that follows brothers Mike & John as they explore the greatest sports fan traditions in America." />
<% end %>
<% content_for(:stylesheets) { stylesheet_link_tag(:home) } %>

<div id="main">
  <div class="left">
    <div id="video-container">
      <iframe src="http://blip.tv/play/AYOTjnwC.x?p=1" width="720" height="433" frameborder="0" allowfullscreen></iframe><embed type="application/x-shockwave-flash" src="http://a.blip.tv/api.swf#AYOTjnwC" style="display:none"></embed>
    </div>
    <div class="fb-like" data-href="http://www.facebook.com/Tailgate32" data-send="true" data-width="420" data-show-faces="false" data-color-scheme="dark"></div>
  </div>
  <div class="right">
    <h1>We're hitting the racetrack!</h1>
    <p>Mike and John are at it again!</p>
    <p>This summer the guys dive into the entire racing experience, including a behind-the-scenes look at how a racing team prepares for each week's race.</p>
    <p>With appearances from NASCAR drivers, track presidents, town mayors, team owners, and very colorful fans, the brothers showcase racing culture at its finest.</p>
  </div>
  <br class="clear" />
</div>
<div class="divider"></div>
<div id="secondary" class="row">
  <h2>Tailgate32: The Ultimate Football Fan Roadtrip</h2>
  <p>Before checking out the speedway, Mike and John took an epic roadtrip to tailgate all 32 NFL stadiums in one 17-week regular season.  Here are a couple of our favorite episodes.  Or you can <a href="/episodes">watch all 32 of them</a>!</p>
  <% @featured_episodes.each_with_index do |episode, i| %>
    <div class="featured-episode <%= i == 0 ? 'first' : (i == 3) ? 'last' : '' %>">
      <a href="/play/<%= episode.abbr %>">
        <img src="<%= episode.thumbnail_url %>" alt="<%= episode.title %>" />
        <h4>Episode <%= episode.number %></h4>
        <h3><%= episode.title %></h3>
      </a>
    </div>
  <% end %>
  <br class="clear" />
</div>
<div class="divider"></div>
<div id="tertiary" class="row">
  <h2>The B-Sides, AKA Mike and John Mostly Goofing Around</h2>
  <p>
    Here's an assortment of behind-the-scenes footage and other silly things that Mike 
    and John have been up to.  If you're looking for more, check out our 
    <a href="/b-sides">B-Sides Archive</a>.
  </p>
  <% @featured_bsides.each_with_index do |bside, i| %>
    <div class="featured-episode <%= i == 0 ? 'first' : (i == 3) ? 'last' : '' %>">
      <a href="/b-sides/<%= bside.abbr %>">
        <img src="<%= bside.thumbnail_url %>" alt="<%= bside.title %>" />
        <h3><%= bside.title %></h3>
      </a>
    </div>
  <% end %>
  <br class="clear" />
</div>
