<% content_for(:title) { "Tailgate32: An Epic Web Series" } %>
<% content_for(:description) { "A web series that follows brothers Mike & John as they explore the greatest sports fan traditions in America." } %>
<% content_for(:og_meta) do %>

  <meta name="twitter:card"       content="summary" />

  <meta property="og:type"        content="video.tv_show" />
  <meta property="og:url"         content="http://tailgate32.com" />
  <meta property="og:image"       content="http://tailgate32.com/images/revved-up-800x800.jpg" />
  <meta property="og:title"       content="Tailgate32: An Epic Web Series" />
  <meta property="og:description" content="A web series that follows brothers Mike & John as they explore the greatest sports fan traditions in America." />
<% end %>
<% content_for(:stylesheets) { stylesheet_link_tag(:home) } %>

<div id="main">
  <div class="left">
    <div id="video-container">
      <%= @revved_up_episode.embed_code %>
    </div>
    <div class="fb-like" data-href="http://www.facebook.com/Tailgate32" data-send="true" data-width="620" data-show-faces="false" data-color-scheme="dark"></div>
  </div>
  <div class="right">
    <h1>Get REVVED UP!</h1>
    <p>Mike and John are at it again!</p>
    <p>In episode #3 of REVVED UP, Mike and John take you behind-the-scenes with Mayor Tony Watkins, track president Chris Browning, and owners of local establishments to discover the wide ranging impact that a NASCAR race has on a tiny little town like Darlington, SC.</p>
    <p>Did you miss the first two episodes?  Check out the <a href="/revved-up">archives</a> to see what you've missed and what's coming up next on REVVED UP.</p>
  </div>
  <br class="clear" />
</div>
<div class="divider"></div>
<div id="secondary" class="row">
  <h2>Tailgate32: The Ultimate Football Fan Roadtrip</h2>
  <p>Before checking out the speedway, Mike and John took an epic roadtrip to tailgate all 32 NFL stadiums in one 17-week regular season.  Here are a couple of our favorite episodes.  Or you can <a href="/episodes">watch all 32 of them</a>!</p>
  <% @featured_episodes.each_with_index do |episode, i| %>
    <div class="featured-episode <%= i == 0 ? 'first' : (i == 3) ? 'last' : '' %>">
      <a href="/play/<%= episode.abbr %>">
        <img src="<%= episode.thumbnail_url %>" alt="<%= episode.title %>" />
        <h4>Episode <%= episode.number %></h4>
        <h3><%= episode.title %></h3>
      </a>
    </div>
  <% end %>
  <br class="clear" />
</div>
<div class="divider"></div>
<div id="tertiary" class="row">
  <h2>The B-Sides, AKA Mike and John Mostly Goofing Around</h2>
  <p>
    Here's an assortment of behind-the-scenes footage and other silly things that Mike 
    and John have been up to.  If you're looking for more, check out our 
    <a href="/b-sides">B-Sides Archive</a>.
  </p>
  <% @featured_bsides.each_with_index do |bside, i| %>
    <div class="featured-episode <%= i == 0 ? 'first' : (i == 3) ? 'last' : '' %>">
      <a href="/b-sides/<%= bside.abbr %>">
        <img src="<%= bside.thumbnail_url %>" alt="<%= bside.title %>" />
        <h3><%= bside.title %></h3>
      </a>
    </div>
  <% end %>
  <br class="clear" />
</div>
