<% content_for(:title) { "Tailgate32: An Epic Web Series" } %>
<% content_for(:description) { "A web series that follows brothers Mike & John as they explore the greatest sports fan traditions in America." } %>
<% content_for(:og_meta) do %>

  <meta name="twitter:card"       content="summary" />

  <meta property="og:type"        content="video.tv_show" />
  <meta property="og:url"         content="http://tailgate32.com" />
  <meta property="og:image"       content="http://tailgate32.com/images/revved-up-800x800.jpg" />
  <meta property="og:title"       content="Tailgate32: An Epic Web Series" />
  <meta property="og:description" content="A web series that follows brothers Mike & John as they explore the greatest sports fan traditions in America." />
<% end %>
<% content_for(:stylesheets) { stylesheet_link_tag(:home) } %>
<% content_for(:javascripts) { javascript_include_tag(:home) } %>

<div id="main">
  <div class="left">
    <div id="video-container">
      <%= @featured_episode.embed_code %>
    </div>
    <div class="fb-like" data-href="http://www.facebook.com/Tailgate32" data-send="true" data-width="620" data-show-faces="false" data-color-scheme="dark"></div>
  </div>
  <div class="right">
    <h1>Back on the Road for 2013!</h1>
    <p>
      After an <a href="/episodes">epic 2012 NFL tour</a> and an 
      <a href="/revved-up">unforgettable summer at NASCAR</a>, Mike and John
      are on the road again this fall to tailgate in a few select NFL locations.
      Their next couple of stops are:
    </p>
    <ul>
      <li>9/5: Denver</li>
      <li>9/9: San Diego</li>
      <li>9/15: Arizona</li>
      <li>9/22: Washington</li>
    </ul>
    <p>Check out the complete <a id="schedule-callout" href="javascript:void(0)">Fall 2013 schedule</a> to see when they're coming to your city.</p>
  </div>
  <br class="clear" />
</div>
<div class="divider"></div>
<div id="secondary" class="row">
  <h2>Tailgate32: The Ultimate Football Fan Roadtrip</h2>
  <p>Before checking out the speedway, Mike and John took an epic roadtrip to tailgate all 32 NFL stadiums in one 17-week regular season.  Here are a couple of our favorite episodes.  Or you can <a href="/episodes">watch all 32 of them</a>!</p>
  <% @tailgate32_episodes.each_with_index do |episode, i| %>
    <div class="featured-episode <%= i == 0 ? 'first' : (i == 3) ? 'last' : '' %>">
      <a href="/play/<%= episode.abbr %>">
        <img src="<%= episode.thumbnail_url %>" alt="<%= episode.title %>" />
        <h4>Episode <%= episode.number %></h4>
        <h3><%= episode.title %></h3>
      </a>
    </div>
  <% end %>
  <br class="clear" />
</div>
<div class="divider"></div>
<div id="tertiary" class="row">
  <h2>The B-Sides, AKA Mike and John Mostly Goofing Around</h2>
  <p>
    Here's an assortment of behind-the-scenes footage and other silly things that Mike 
    and John have been up to.  If you're looking for more, check out our 
    <a href="/b-sides">B-Sides Archive</a>.
  </p>
  <% @featured_bsides.each_with_index do |bside, i| %>
    <div class="featured-episode <%= i == 0 ? 'first' : (i == 3) ? 'last' : '' %>">
      <a href="/b-sides/<%= bside.abbr %>">
        <img src="<%= bside.thumbnail_url %>" alt="<%= bside.title %>" />
        <h3><%= bside.title %></h3>
      </a>
    </div>
  <% end %>
  <br class="clear" />
</div>

<% content_for(:popups) { %>
  <div id="schedule-popup" class="popup">
    <h2>Fall 2013 NFL Schedule</h2>
    <p>It's no 32-stop marathon of a schedule, but we do have 19 stops scheduled for this fall.</p>
    <dl>
      <dt>9/5</dt><dd>Denver</dd>
      <dt>10/24</dt><dd>Tampa Bay</dd>
      <dt>12/1</dt><dd>Carolina</dd>
    </dl>
    <dl>
      <dt>9/9</dt><dd>San Diego</dd>
      <dt>10/27</dt><dd>Jacksonville</dd>
      <dt>12/8</dt><dd>Philadelphia</dd>
    </dl>
    <dl>
      <dt>9/15</dt><dd>Arizona</dd>
      <dt>11/3</dt><dd>Buffalo</dd>
      <dt>12/15</dt><dd>St. Louis</dd>
    </dl>
    <dl>
      <dt>9/22</dt><dd>Washington</dd>
      <dt>11/10</dt><dd>Chicago</dd>
      <dt>12/22</dt><dd>Baltimore</dd>
    </dl>
    <dl>
      <dt>10/6</dt><dd>Green Bay</dd>
      <dt>11/17</dt><dd>Pittsburgh</dd>
      <dt>12/29</dt><dd>Cincinnati</dd>
    </dl>
    <dl>
      <dt>10/13</dt><dd>Cleveland</dd>
      <dt>11/24</dt><dd>New England</dd>
    </dl>
    <dl>
      <dt>10/20</dt><dd>New York</dd>
      <dt>11/28</dt><dd>Detroit</dd>
    </dl>
    <p>Want to join us at one of these tailgates?  <a href="javascript:void(0)" id="schedule-contact-link">Drop us a line</a> and let us know when we're coming to your city.</p>
  </div>
<% } %>
