<% content_for(:title) { "Tailgate32: The Ultimate Football Fan Roadtrip" } %>
<% content_for(:description) { "Two guys in an RV documenting the American traditions of roadtrips, tailgating, and pro football. 17 weeks. 32 games. 25,000 miles." } %>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'episodes' %>
  <%= javascript_include_tag 'upcoming' %>
  <%= javascript_include_tag 'home' %>
<% end %>

<div id="home" class="row">
  <div id="home-chrome">
    <div class="left">
      <h3>Recent</h3>
      <p>Catch up with us on the ultimate football adventure!</p>
    </div>
    <div class="center">
      <h1>The Latest</h1>
      <h2>Prologue: What's Your Story?</h2>
    </div>
    <div class="right">
      <h3>Upcoming</h3>
      <p>We are on the road heading to a football mecca near you!</p>
    </div>
    <br class="clear" />
  </div>
  <div id="home-video">
    <div id="recent-episodes" class="left">
      <%= partial :recent_episodes, :locals => {:episodes => data.episodes.values} %>
      <p>
        Missed an episode?<br />
        <a href="/play">VIEW THE ARCHIVES</a>
      </p>
    </div>
    <div class="center">
      <div id="episode-highlight">
        <div id="video-container">
          <iframe id="ytplayer" width="600" height="338" src="" frameborder="0" allowFullScreen></iframe>
        </div>
        <div id="social-media">
        <!--
          <div class="fb-like" data-href="http://www.facebook.com/Tailgate32" data-send="true" data-width="550" data-show-faces="false" data-color-scheme="dark"></div>
          <div id="twitter">
            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-count="none" data-text="Check out the @tailgate_32 guys. They're living in an RV this fall and tailgating a home game for every NFL team. http://tailgate32.com">Tweet</a>
            <a href="https://twitter.com/tailgate_32" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @tailgate_32</a>
          </div>
        -->
        </div>
      </div>
      <div id="upcoming-highlight">
        <h4 id="upcoming-game-title"></h4>
        <div id="upcoming-game-description"></div>
      </div>
    </div>
    <div id="upcoming-episodes" class="right">
      <%= partial :upcoming_episodes, :locals => {:games => data.upcoming.values} %>
      <p>
        Want the full scoop?<br />
        <a target="_blank" href="images/printable-schedule.pdf">VIEW THE SCHEDULE</a>
      </p>
    </div>
    <br class="clear" />
  </div>
</div>
