<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# video: http://ogp.me/ns/video#">
  <title><%= yield_content(:title) %></title>
  <meta name="description" content="<%= yield_content(:description) %> " />
  <meta name="keywords"    content="Tailgate32, Tailgate, 32, tailgating, Tailgate 32, roadtrips, road trips, pro football, 17 weeks, 32 gmaes, 25000 miles, documentary, experience, journey, RV, cross country" />
  <meta property="fb:admins"    content="jtrupiano" />
  <meta property="og:site_name" content="Tailgate32: The Ultimate Football Fan Roadtrip" />
  <meta name="twitter:site" content="@tailgate_32" />
  <meta name="twitter:creator" content="@tailgate_32" />
  <%= yield_content(:og_meta) %>
  <link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One|PT+Sans|PT+Serif' rel='stylesheet' type='text/css' />
  <%= stylesheet_link_tag 'tailgate32' %>
  <%= yield_content(:stylesheets) %>
  <%= stylesheet_link_tag 'home' %>
  <%= stylesheet_link_tag '/javascripts/fancybox/source/jquery.fancybox.css?v=2.0.6' %>
  <link rel="icon" type="image/png" href="/images/favicon.ico" />
  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/tailgate32" />
</head>
<body>
  <div id="fbNationBarLoader" style="margin:0;padding:0;height:28px;width:100%;"></div><script src="http://www.footballnation.com/jsapi/load.js?service=tailgate32&js=false&bg=true" type="text/javascript"></script>
  <style type="text/css">
    /** Override FB Nation Bar **/
    #fbNationBar {
      margin-top: 0px !important;
    }

    #fbNationBarWrap {
      background: url("../images/tg32-bar.png") repeat-x top left !important;
    }

    td.fbNationLoginButtons a strong {
      color: #f5fffa !important;
    }
  </style>
  <!-- Facebook SDK -->
    <div id="fb-root"></div>
    <script type="text/javascript">(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=139581442806599";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  <!-- End Facebook SDK -->  
  <script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  <div id="navigation">
    <div id="social-media-header">
      <a href="https://twitter.com/#!/tailgate_32" target="_blank" title="Follow @tailgate_32 on Twitter"><%= image_tag 'icon_twitter.png', :alt => "See @tailgate_32 on Twitter" %></a>
      <a href="https://www.facebook.com/tailgate32" target="_blank" title="Like Tailgate32 on Facebook"><%= image_tag 'icon_facebook.png', :alt => "Find Tailgate32 on Facebook" %></a>
      <a href="http://itunes.com/tailgate32" target="_blank" title="Tailgate32 on iTunes"><%= image_tag 'icon_itunes.png', :alt => 'Subscribe to Tailgate32 on iTunes' %></a>
      <a href="http://www.youtube.com/user/tailgate32" target="_blank" title="The Official Tailgate32 YouTube Channel"><%= image_tag 'icon_youtube.png', :alt => "Subscribe to the Tailgate32 YouTube channel" %></a>
      <a href="http://feeds.feedburner.com/tailgate32" target="_blank" title="Tailgate32 RSS Feed"><%= image_tag 'icon_rss.png', :alt => 'Tailgate32 RSS Feed' %></a>
    </div>
    <div id="menu">
      <a href="/about"><%= image_tag 'nav-about.png', :width => "102", :height => "35" %></a>
      <a href="/schedule"><%= image_tag 'nav-schedule.png', :alt => "Tailgate32 Schedule", :width => "102", :height => "35" %></a>
      <a href="/play"><%= image_tag 'nav-episodes.png', :alt => "Tailgate32 Episodes", :width => "102", :height => "35" %></a>
      <a href="/b-sides"><%= image_tag 'nav-b-sides.png', :alt => "B-Sides", :width => "102", :height => "35" %></a>
      <a href="/contests"><%= image_tag 'nav-contests.png', :alt => "Contests", :width => "102", :height => "35" %></a>
      <a href="/press"><%= image_tag 'nav-press.png', :alt => "Press", :width => "102", :height => "35" %></a>
      <a id="contact-us-nav" class="contact-us-link" href="#"><%= image_tag 'nav-contact-us.png', :alt => "Contact Tailgate32", :width => "102", :height => "35" %></a>
    </div>
    <br class="break" />
  </div>
  <div id="masthead">
    <div class="divider"></div>
    <div id="logo_container">
      <a href="/" title="Tailgate32 Home"><%= image_tag "T32Header.png", :alt => "Tailgate32: The Ultimate Football Fan Roadtrip" %></a>
    </div>
    <div class="divider"></div>
  </div>

  <%= yield %>
  
  <div class="divider"></div>
  <div id="footer">&nbsp;</div>
  <div id="hidden-content">
    <div id="contact-us">
      <iframe style="display: none;" name="contact.us.iframe" src="https://docs.google.com/spreadsheet/viewform?formkey=dEY2MXNvVDRBWlN1SEE0RHRyQU42d3c6MQ"></iframe>
      <div class="headline">
        <%= image_tag 'arrow-left.png' %>
        <h2>Contact Tailgate32</h2>
        <br class="clear" />
      </div>
      <form id="contact-us-form" target="contact.us.iframe" method="POST" action="">
        <p>
          Want to know more about the trip?  Got a suggestion for us?  Want to sponsor us?  
          Fill out the form below and we'll get back to you ASAP!
        </p>
        <div><label for="contact-us-name">Name</label><input id="contact-us-name" type="text" name="entry.0.single" /></div>
        <div><label for="contact-us-email">Email</label><input id="contact-us-email" type="text" name="entry.1.single" /></div>
        <div><label for="contact-us-location">Location</label><input id="contact-us-location" type="text" name="entry.2.single" /></div>
        <div><label for="contact-us-team">Favorite Team(s)</label><input id="contact-us-team" type="text" name="entry.4.single" /></div>
        <div><label for="contact-us-message" class="for-textarea">Message</label><textarea id="contact-us-message" name="entry.6.single"></textarea></div>
        <div>
          <label>&nbsp;</label>
          <input id="contact-us-submit" name="submit" type="submit" value="Submit" class="submit" />
        </div>
        <input type="hidden" name="pageNumber" value="0" />
        <input type="hidden" name="backupCache" />
      </form>
      <p id="contact-us-thanks" style="display: none;">Thank you for contacting us.  We'll respond ASAP.</p>
    </div>
  </div>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  <%= javascript_include_tag "fancybox/source/jquery.fancybox.pack.js?v=2.0.6" %>
  <%= javascript_include_tag "tailgate32.js" %>
  <%= yield_content :javascripts %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23116100-1']);
    _gaq.push(['_setDomainName', 'footballnation.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
