<div id="play" class="row">
  <div class="left">
    <div id="featured-video">
      <div class="headline">
        <img src="http://assets.tailgate32.com/images/arrow-left.png" />
        <h1><%= @episode.number %>: <%= @episode.title %></h1>
      </div>
      <br />
      <div id="video-container">
        <iframe id="ytplayer" width="600" height="338" src="http://www.youtube.com/embed/<%= @episode.video_id %>?vq=hd720&rel=0&showinfo=0" frameborder="0" allowFullScreen></iframe>
      </div>
      <div id="social-media">
        <div class="fb-like" data-href="http://tailgate32.com/play/<%= @abbr %>" data-send="true" data-width="550" data-show-faces="false" data-color-scheme="dark"></div>
      </div>
    </div>
    <div id="all-videos" class="three-column">
      <div class="headline">
        <img src="http://assets.tailgate32.com/images/arrow-left.png" alt="" />
        <h1>Episode Archive</h1>
      </div>
      <br />
      <% data.episodes.each_pair do |abbr, episode| %>
        <div class="item">
          <a href="/play/<%= abbr %>"><img src="http://img.youtube.com/vi/<%= episode.video_id %>/maxresdefault.jpg" alt="<%= episode.title %>" /></a>
          <h3><%= episode.number %>: <%= episode.title %></h3>
          <span class="description"><%= episode.date %></span>
        </div>
      <% end %>
      <br class="clear" />
    </div>
  </div>
  <div class="right">
    <div id="widgets">
      <%= partial "promos/upcoming" %>
      <%= partial "promos/shirt" %>
    </div>
  </div>
  <br class="clear" />
</div>
