<% content_for(:title) { @episode.full_title } %>
<% content_for(:description) { @episode.description_for_meta_tags } %>
<% content_for(:og_meta) do %>

  <meta property="og:title"         content="<%= @episode.full_title %>" />
  <meta property="og:description"   content="<%= @episode.description_for_meta_tags %>" />
  <meta property="og:type"          content="video.episode" />
  <meta property="og:image"         content="<%= @episode.image_url %>" />
  <meta property="og:url"           content="<%= @episode.canonical_url %>" />
  <meta property="og:video"         content="<%= @episode.youtube_og_url %>" />
  <meta property="og:video:type"    content="application/x-shockwave-flash" />
  <meta property="og:video:width"   content="1920" />
  <meta property="og:video:height"  content="1080" />
  <meta property="video:series"     content="http://tailgate32.com" />

  <meta name="twitter:card"          content="player" />
  <meta name="twitter:player"        content="<%= @episode.youtube_embed_url %>" />
  <meta name="twitter:player:width"  content="435" />
  <meta name="twitter:player:height" content="245" />
<% end %>
<% content_for(:stylesheets) { stylesheet_link_tag :play } %>

<div id="play" class="row">
  <div class="left">
    <div id="featured-video">
      <h1>Tailgate32 Episode <%= @episode.number %>: <%= @episode.title %></h1>
      <div id="video-container">
        <iframe id="ytplayer" width="720" height="405" src="<%= @episode.youtube_embed_url %>" frameborder="0" allowFullScreen></iframe>
      </div>
      <div class="fb-like" data-href="http://www.facebook.com/Tailgate32" data-send="true" data-width="420" data-show-faces="false" data-color-scheme="dark"></div>
    </div>
    <div>
      <div class="three-column">
        <h2>Up Next on Tailgate32</h2>
        <p>Watch another episode of Tailgate32 or head back to the <a href="/episodes">full episode archive</a></p>
        <% episodes.reverse[(@episode.number.to_i + 1) % 33, 3].each do |episode| %>
          <div class="item">
            <a href="<%= episode.relative_url %>"><img src="<%= episode.thumbnail_url %>" alt="<%= episode.title %>" /></a>
            <h4>Episode <%= episode.number %></h4>
            <h3><%= episode.title %></h3>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="right">
    <div id="episode-details">
      <h2>Episode Details</h2>
      <p><%= @episode.description %></p>
      <% if @episode.date %>
        <p class="date">Tailgated on <%= @episode.date %>.</p>
      <% end %>
      <% if @episode.bands %>
        <h2>Featured Artists</h2>
        <p class="bands">
        <% @episode.bands.each do |band| %>
          <%= link_to band.name, band.link, :target => '_blank' %>
        <% end %>
        </p>
      <% end %>
      <% if @episode.thanks %>
        <h2>Special Thanks</h2>
        <p><%= @episode.thanks %></p>
      <% end %>
    </div>
  </div>
  <br class="clear" />
</div>
