<% content_for(:title) { @episode.full_title } %>
<% content_for(:description) { @episode.description_for_meta_tags } %>
<% content_for(:og_meta) do %>

  <meta property="og:title"       content="<%= @episode.full_title %>" />
  <meta property="og:type"        content="video.episode" />
  <meta property="og:image"       content="<%= @episode.thumbnail_url %>" />
  <meta property="og:url"         content="<%= @episode.canonical_url %>" />
  <meta property="og:video"       content="<%= @episode.canonical_url %>" />
  <meta property="og:video:type"  content="text/html" />
  <meta property="video:series"   content="http://tailgate32.com" />

  <meta name="twitter:card"          content="player" />
  <meta name="twitter:player"        content="<%= @episode.youtube_embed_url %>" />
  <meta name="twitter:player:width"  content="435" />
  <meta name="twitter:player:height" content="245" />
<% end %>
<% content_for(:stylesheets) { stylesheet_link_tag :play } %>

<div id="play" class="row">
  <div class="left">
    <div id="featured-video">
      <div class="headline">
        <%= image_tag 'arrow-left.png' %>
        <h1><%= @episode.number %>: <%= @episode.title %></h1>
        <p><%= @episode.date %></p>
      </div>
      <div id="video-container">
        <iframe id="ytplayer" width="600" height="338" src="<%= @episode.youtube_embed_url %>" frameborder="0" allowFullScreen></iframe>
      </div>
      <div id="social-media">
        <div class="fb-like" data-href="<%= @episode.canonical_url %>" data-send="true" data-width="550" data-show-faces="false" data-color-scheme="dark"></div>
      </div>
    </div>
    <div id="all-videos" class="three-column">
      <div class="headline">
        <%= image_tag 'arrow-left.png' %>
        <h1>Episode Archive</h1>
      </div>
      <br />
      <% episodes.each do |episode| %>
        <div class="item">
          <a href="/play/<%= episode.abbr %>"><img src="<%= episode.thumbnail_url %>" alt="<%= episode.title %>" /></a>
          <h3><%= episode.number %>: <%= episode.title %></h3>
          <span class="description"><%= episode.date %></span>
        </div>
      <% end %>
      <br class="clear" />
    </div>
  </div>
  <div class="right">
    <div id="widgets">
      <div id="episode-details" class="widget">
        <h1>Episode Details</h1>
        <p><%= @episode.description %></p>
        <% if @episode.bands %>
          <h1>Featured Artists</h1>
          <p class="bands">
          <% @episode.bands.each do |band| %>
            <%= link_to band.name, band.link, :target => '_blank' %>
          <% end %>
          </p>
        <% end %>
        <% if @episode.thanks %>
          <h1>Special Thanks</h1>
          <p><%= @episode.thanks %></p>
        <% end %>
      </div>
    </div>
  </div>
  <br class="clear" />
</div>
